*{
    margin: 0;
    padding: 0;
}

.container{

    width: 40vw;
    margin:  3% auto  auto auto ;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;

}

#loginLogo{
    width: 100%;
    float: left;
}

.btn
{
    display: flex;
    justify-content: end;
    width: 100%;
}

.container div input[type=text],input[type=number]{
    padding: 1%;
    width: 100%;
}

.container div{
    margin-top: 3px;
    width: 100%;

}